// main: ../style.less

.text-center{
    text-align: center;
}

.text-right {
    text-align: right;
}

.img { // делаем картинки адаптивными
    display: block;
    max-width: 100%;
    height: auto;
}